<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="main-content">
        <div class="sidebar" id="sidebar">
          <img src="assets/profile.jpeg" class="profile-img">
          <div>
            <h1><b>Amit Kumar</b></h1><hr>
          </div>
        </div>


        <div class="wrapper">
          {{ content }}
        </div>

      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
